/* Web Layout */

body {
	padding: 0;
}

.ch-header {
	padding-left: 0px;
	height: 50px;
	width: 100%;
	background-color: #FFF059;
	padding-top: 8px;
}

.ch-footer {
	clear:both;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 10px;
}

.ch-g1-10, .ch-g8-10 {
	margin-top: 20px;
}

.logo {
	width: 160px;
	height: 42px;
	margin-left: 50px;
	background-image: url("../assets/logo.png");
	background-repeat: no-repeat;
}

.graph-container{
	height: 700px;
}

.curve-graph {
	margin-top: 50px;
	height: 400px;
}

.bar-graph {
	margin-top: 20px;
	height: 150px;	
}

.ch-form-row {
	padding-top: 20px;
}

.ch-range {
	margin-top: 20px;
}
.ch-list {
	padding-top: 20px;
	padding-left: 80px;
}

.text-error {
	color: red;
}
